.container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: none;
    z-index: 0;
}

/* two photos left and right that are above the shit*/

.containerL {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}